{% extends "base.html" %}

{% block title %}
  Change Password
{% endblock %}

{% block content %}
  <section>
    <header>
      <h1>Change Password</h1>
    </header>
  </section>
  <div class="row">
    <div class="span2">
      <ul class="nav nav-list">
        <li><a href="/account/">Overview</a></li>
        <li><a href="/account/connected">Connected Accounts</a></li>
        <li class="active"><a href="/account/password">Password</a></li>
        <li><a href="/account/profile">Profile</a></li>
      </ul>
    </div>

    <section class="span7">
      {% if not has_password %}
        <div class="well">
          You have not created a password yet. Creating a password ensures that you will always have access to your account.
        </div>
      {% endif %}
      {% include "partials/messages.html" %}
      <form method="POST" action="" class="form-horizontal">
        <fieldset>
          {% if has_password %}
            <div class="control-group">
              <label class="control-label">
                Current password
              </label>
              <div class="controls">
                {{ form.current }}
                <br />
                <br />
                <a href="/account/recovery"><small>Forgot your password?</small></a>
              </div>
            </div>
          {% else %}
            <div class="control-group">
              <label class="control-label">
                Email Address
              </label>
              <div class="controls">
                {{ form.email }}
                <p class="help-block">Setting a password requires a valid email address.</p>
              </div>
            </div>
          {% endif %}
          <div class="control-group">
            <label class="control-label">
              New password
            </label>
            <div class="controls">
              {{ form.password }}
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" value="Submit" class="btn btn-primary">Save Changes</button>
          </div>
        </fieldset>
      </form>
    </section>
  </div>
{% endblock %}
